* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 13px;
  background-image: url("https://raw.githubusercontent.com/telegramdesktop/tdesktop/dev/Telegram/Resources/art/bg_initial.jpg");
}


.container {
  width: 1200px;
}

.chat__body {
  display: flex;
  height: 100%;
  background: white;
  background-position-y: -54px;
  background-attachment: fixed;
}

.contact-list {
  float: left;
  background: white;
  width: 380px;
  border-right: 0.5mm solid lightgray;
}

.general-search{
  width: 360px;
  height: 40px;
  background-color: lightgray;
  color:  #a0acb6;
  margin-top: 10px;
  border-radius: 0.2em;
}

.general-search .material-icons{
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.video-part {
  border-left: 0.5mm solid #006699;
  padding-left: 10px;
  margin-left: 24px;
  margin-top: 5px;
}

.video-text{
  color: #006699;
  font-weight: bold;
  font-size: 16;
}

.messages {
  flex-direction: column;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 6px;
}

.chat__loader {
  flex-grow: 1;
  display: flex;
  align-self: center;
  justify-content: center;
  user-select: none;
}
.chat__loader .spinner {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgba(38,50,56,.5);
  border-radius: 50%;
  align-self: center;
}
.chat__loader .spinner:after {
  position: absolute;
  left: 4px;
  top: 4px;
  display: block;
  content: '';
  width: 22px;
  height: 22px;
  border-left-color: #fff;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  animation: spin .8s linear infinite;
}

@keyframes spin { 
  from { 
    transform: rotate(0deg); 
  } to { 
    transform: rotate(360deg); 
  }
}

.message {
  align-self: flex-start;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 30px;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
  margin-top: 4px;
  z-index: 2;
  box-shadow: 0 2px 1px 0 rgba(160,172,182,.5);
}

.message.my-message {
  align-self: flex-end;
  background-color: #effdde;
  box-shadow: 0 2px 1px 0 rgba(93,196,82,.5);
}

.message__text,
.message__image__text .message__text__content {
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  z-index: 2;
}

.message__image,
.message__image__text {
  position: relative;
  z-index: 2;
}
.message__image {
  border-radius: 6px;
}
.message__image__content {
  border-radius: 6px;
  max-width: 300px;
  margin: 5px;
  padding: 5px;

}

.message__time {
  display: inline-block;
  float: right;
  padding-top: 4px;
  padding-bottom: 16px;
  padding-left: 14px;
  text-align: right;
  font-size: 10px;
  color: #a0acb6;
}

.my-message .message__time {
  color: #5dc452;
}
.message__image .message__time {
  display: block;
  float: initial;
  position: absolute;
  bottom: 4px;
  right: 4px;
  padding: 4px;
  color: #fff;
  background-color: rgba(38,50,56,.5);
  border-radius: 6px;
  transition: opacity .2s linear;
  opacity: 0;
}
.message__image:hover .message__time {
  opacity: 1;
}

.user {
  font-size: 12px;
  margin-bottom: 8px;
  padding-top: 4px;
}

.round {
  width: 3em;
  height: 3em;
  font-size: 12px;
  border-radius: 50%;
  line-height: 3em;  
  text-align: center; 
  color: white;
  font-weight: bold;
  float: left;
  margin-right: 10px;
  margin-top: 8px;
}

.coming{
  align-self: flex-start;
  padding: 5px;
  margin: 5px;
}

.group-chat{
  height: 50px;
  background: #006699;
  color: white;
  line-height: 3em;
}

.group-chat #params {
  margin-left: 30px;
  margin-top: 10px;
}

.group-chat .telegram{
  font-size: 14px;  
  margin-left: 50px;
  margin: 30px;
}

.group-chat .name{
  font-size: 14px;  
  font-weight: bold;
  margin-left: 210px;
}

.group-chat .quantity{
  font-size: 12px;  
  color: lightblue;
  margin-left: 10px;
  margin-right: 550px;
}


